<p id="notice"><%= notice %></p>

<p>
  <strong>Id github:</strong>
  <%= @repo.id_github %>
</p>

<p>
  <strong>Url:</strong>
  <%= @repo.url %>
</p>

<%= link_to 'Edit', edit_repo_path(@repo) %> |
<%= link_to 'Back', repos_path %>
